body {
        background-image: url('C:/Users/aouga/Desktop/clicker/Assets/Mccavern.webp');
        color: white;
}

.medieval-text {
    color: white; 
}

.resources {
    margin-bottom: 20px;
}

.shop {
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container button {
    width: 100%; 
    flex-grow: 1; 
}

.button-container img {
    max-width: 50px; 
    height: auto;
    margin-top: 5px; 
}

#resetButton img{
    max-width: 50px; 
    height: auto;
    margin-top: 5px;
}