.medieval-text {
    color: black;
}
.text-center1 {
    font-size: 100px;
    text-align: center;
}

.resources {
    margin-bottom: 20px;
}

.shop {
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container button {
    width: 100%;
    margin-bottom: 10px; 
}

.button-container img {
    max-width: 50px;
    height: auto;
    margin-top: 5px;
}

.btn-circle {
    border-radius: 50%;
    width: 500px;
    height: 800px;
    font-size: 18px;
    background-color: yellow;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
}

.btn-circle img {
    max-width: 80px;
    height: auto;
    margin-top: 10px;
}

.click-button-container {
    margin-right: 10%;
}

.col-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.click-button-container {
    margin-right: 10%; 
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center; 
}

.footer button {
    width: 100%;
    margin-top: 5px;
}

.footer .container-fluid {
    display: flex;
    justify-content: space-between;
}

.footer button {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Styles pour les cards */
.card-deck {
    margin-top: 20px;
}

.card {
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.card-title {
    text-align: center;
    margin-bottom: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-block {
    width: 80%;
    margin-top: 15px;
    align-self: center;
}

.btn-block:hover {
    background-color: #28a745; /* Changez la couleur selon vos préférences */
}
.card-img-top {
    max-height: 400px; /* Augmentez cette valeur pour agrandir l'image */
    object-fit: contain;
    margin: auto;
    display: block;
}